<div class="board">
    <div class="example-container">
        <h2>To Do</h2>
        <div cdkDropList
             id="todo"
             #todoList="cdkDropList"
             [cdkDropListData]="todo"
             [cdkDropListConnectedTo]="[doneList, inProgressList]"
             (cdkDropListDropped)="drop($event)" class="example-list">
            <div *ngFor="let task of todo" cdkDrag [cdkDragData]="task" (click)="openTask(task)"
                 class="card">
                <div class="card-header px-lg-5">
                    <div class="card-heading text-primary">{{task.title}}</div>
                </div>
                <div class="card-body" style="padding: 2.5rem!important;">
                    {{task.description}}
                </div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>In Progress</h2>
        <div cdkDropList
             id="inProgress"
             #inProgressList="cdkDropList"
             [cdkDropListData]="inProgress"
             [cdkDropListConnectedTo]="[todoList, doneList]"
             (cdkDropListDropped)="drop($event)" class="example-list">
            <div *ngFor="let task of inProgress" [cdkDragData]="task" cdkDrag (click)="openTask(task)"
                 class="card">
                <div class="card-header px-lg-5">
                    <div class="card-heading text-primary">{{task.title}}</div>
                </div>
                <div class="card-body" style="padding: 2.5rem!important;">
                    {{task.description}}
                </div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>Done</h2>
        <div cdkDropList
             id="done"
             #doneList="cdkDropList"
             [cdkDropListData]="done"
             [cdkDropListConnectedTo]="[todoList, inProgressList]"
             (cdkDropListDropped)="drop($event)" class="example-list">
            <div *ngFor="let task of done" [cdkDragData]="task" cdkDrag (click)="openTask(task)"
                 class="card">
                <div class="card-header px-lg-5">
                    <div class="card-heading text-primary">{{task.title}}</div>
                </div>
                <div class="card-body" style="padding: 2.5rem!important;">
                    {{task.description}}
                </div>
            </div>
        </div>
    </div>
</div>
